/******************************************************** 
　ヘッダー
********************************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1366px;
  height: 80px;
  padding: 0 30px 0 25px;
  background-color: #DC5041;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #FFFFFF;
}

.logout a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

/******************************************************** 
　メイン
********************************************************/
.main {
  display: flex;
  width: 1366px;
  height: 688px;
}

/******************************************************** 
　サイドバー
********************************************************/
.side-bar {
  width: 260px;
  height: 688px;
  padding: 45px 20px;
  background-color: #F8F5F5;
}

.diary {
  padding: 10px 15px;
  margin-bottom: 20px;
  width: 100%;
  height: 80px;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.diary__date {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 600;
}

.diary__text {
  font-size: 10px;
  color: #3A3736;
  line-height: 12px;
}

/******************************************************** 
　テキストエリア
********************************************************/
.text-area {
  width: 1106px;
  height: 688px;
  padding: 45px 20px;
}

.input-form {
  width: 100%;
  height: 100%;
  border: 1px solid #A0A0A0;
  border-radius: 10px;
}

/******************************************************** 
　ログアウトダイアログ
********************************************************/
.dialog-main {
  width: 1366px;
  height: 688px;
  background-color: #F8F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  width: 360px;
  border: 1px solid #666666;
  border-radius: 5px;
}

.dialog__header {
  width: 100%;
  height: 25px;
  padding: 0 5px;
  background-color: #DC5041;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.dialog__body {
  width: 100%;
  height: 200px;
  border-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}